/bin
/lib
*~
*.a
*.cache
*.DS_Store
*.egg-info
*.exe
*.gch
*.lib
*.o
*.pyc
*.so
*.swp
.eggs
.idea
Makefile
lib*.pc
.project
.python-version
.tox
.cproject
.vscode
build
build_master
build_test
build2
build_test1
_build
CMakeLists.txt.user
/VersionInfo*.cmake
Testing
/.vs
/CMakeSettings.json
src/gromacs/tensorflow
